<article class="container">
    <div class="row bootstrap snippets bootdeys"> 
        <div class="col-md-9 col-sm-7"> 
            <h2>Businesses</h2> 
        </div> 
        
    </div>
<ol>
    {{#each businesses}}
        {{> business-card}}
    {{/each}}
</ol>
</article>