  <div class="container">
    <h1 class="brand">Access Tennessee</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Access Tennessee</h3>
        <ul>
          <li><i class="fa fa-road"></i> Nashville, TN</li>
          <li><i class="fa fa-phone"></i> (615) 555-5555</li>
          <li><i class="fa fa-envelope"></i> info@accesstn.com</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        {{msg}}
        <form method="POST" action="send">
          <p>
            <label>Name {{req.body.name}}</label>
            <input type="text" name="name">
          </p>
           <p>
            <label>Email Address {{req.body.email}}</label>
            <input type="email" name="email">
          </p>
          <p class="full">
            <label>Message {{req.body.message}}</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
