
   
<section>
        <li class="nav-item"><a class="nav-link page-scroll" href="/login">Return to user page</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" href="/suggestion">View Suggestions</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" href="/business">View Businesses</a></li>
  <h2 class="title">create new suggestion</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="suugest-content">content:</label>
      <input class="textarea is-large" id="suggest-text"placeholder="insert suggestion"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create post</button>
  </form>
</section>