<body data-spy="scroll" data-target=".fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            
            
            <a class="navbar-brand logo-text page-scroll" href="/">Access Tennessee</a>

        
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/b-login">Business Login</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/signup">Create Account</a>
                    </li>
                    
                </ul>
                <span class="nav-item social-icons">
                    <span class="fa-stack">
                        <a href="https://www.facebook.com" target="_blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.twitter.com" target="_blank">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                </span>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->
    
    <!-- Header -->
    <div class="user-header">
        {{!-- <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
        </div> --}}

    </div> <!-- end of header -->



<form class="login-form">
  <div class="container-login100">
    <div class="wrap-login10">
      <h1>Log in</h1>
    <p style="color: #F1441C;">Please fill in this form to log in to your account.</p>
    <hr>
      
      <div>
        <label for="username"><b>Email</b></label>
        <input type="text" id="email-login" placeholder="Enter email" required />
      </div>
      
      
      <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" id="password-login" placeholder="Enter Password"required />
      </div>
      
      <div>
        <button type="submit">Login</button>
      </div>
    </div>
  </div>
</form>


<script src="/javascript/login.js"></script>

<!-- Footer -->
    <!--social media icons are not connected to links-->
    <div class="footer sm-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="social-container">
                        <span class="fa-stack">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.twitter.com" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.instagram.com" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="https://www.youtube.com" target="_blank">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-youtube fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of social-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->