

<form class="login-form">
  <div class="container-login100">
    <div class="wrap-login10">
      <h1>log in</h1>
    <p>Please fill in this form to log in to your account.</p>
    <hr>
      
      <div>
        <label for="username"><b>email</b></label>
        <input type="text" id="email-login" placeholder="Enter email" required />
      </div>
      
      
      <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" id="password-login" placeholder="Enter Password"required />
      </div>
      
      <div>
        <button type="submit">login</button>
      </div>
    </div>
  </div>
</form>

<script src="/javascript/login.js"></script>