

<form class="signup-form">
  <div class="container-login100">
    <div class="wrap-login10">
      <h1> User Sign Up</h1>
    <p>Please fill in this form to create an account. For Business sign up please scroll down.</p>
    <hr>
      <div>
        <label for="first_name"><b>First Name</b></label>
        <input type="text" placeholder="Enter first name" id="firstname-signup" required />
      </div>
      <div>
        <label for="last_name"><b>Last Name</b></label>
        <input type="text" placeholder="Enter last name" id="lastname-signup" required />
      </div>
      <div>
        <label for="username"><b>Username</b></label>
        <input type="text" id="username-signup" placeholder="Enter username" required />
      </div>
      
      <div>
        <label for="email"><b>Email</b></label>
        <input type="text" id="email-signup" placeholder="Enter Email" required />
      </div>
      <div>
        <label for="password"><b>Password</b></label>
        <input type="password" id="password-signup" placeholder="Enter Password"required />
      </div>
      <div>
        <label for="description"><b>Description</b></label>
        <input type="text" id="description-signup" placeholder="Enter Bio"required />
      </div>
      <div>
        <label for="impairment"><b>Impairment</b></label>
        <input type="text" id="impairment-signup" placeholder="Enter impairment" not required />
      </div>
      <label for="picture"><b>Select Profile Picture:</b></label>
          <input id="image-signup" type="file" name="profile_photo" placeholder="Photo" required="" capture> 
      <div>
        <button type="submit">signup</button>
      </div>
    </div>
  </div>
</form>
<form class="b-signup-form">
  <div class="container-login100">
    <div class="wrap-login10">
      <h1> Business Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
      <div>
        <label for="b-name-signup"><b>Business Name</b></label>
        <input type="text" placeholder="Enter business name" id="b-name-signup" required />
      </div>
      <div>
        <label for="b-username-signup"><b>Username</b></label>
        <input type="text" id="b-username-signup" placeholder="Enter username" required />
      </div>
      
      <div>
        <label for="b-email-signup"><b>Business Email</b></label>
        <input type="text" id="b-email-signup" placeholder="Enter business email" required />
      </div>
      <div>
        <label for="b-password-signup"><b>Password</b></label>
        <input type="password" id="b-password-signup" placeholder="Enter Password"required />
      </div>
      <div>
        <label for="b-description-signup"><b>Bio</b></label>
        <input type="text" id="b-description-signup" placeholder="Enter Bio"required />
      </div>
      <div>
        <label for="logo-url-signup"><b>Select Profile Picture:</b></label>
        <input id="logo-url-signup" type="file" name="logo_url" placeholder="Photo" required="" capture>
      </div>
      <div>
        <button type="submit">signup</button>
      </div>
    </div>
  </div>
</form>
<script src="/javascript/signIn.js"></script>


